# Byte-compiled / optimized
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.BIN/
